<ion-header>
  <ion-toolbar>
    <ion-title>Yogurt App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="showLogin">
    <ion-row>
        <ion-col>
          <ion-img src="/assets/yogurt.svg" alt="yogurt app logo"></ion-img>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text" placeholder="Nombre de usuario" [(ngModel)]="userName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" (click)="login()">Entrar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showErrorMessage">
      <ion-col>
        <p>
          <ion-text color="danger">* Todos los campos son requeridos...</ion-text>
        </p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="loginErrorMessage">
      <ion-col>
        <p>
          <ion-text color="danger">* Nombre de usuario o password incorrecto...</ion-text>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
